## 6_함수

### 1. 파이썬_함수.

##### 입력값을 가지고 어떤 일을 수행한 후 그 결과물을 내어놓는 것

In [3]:
def add(a, b):
    return a+b

a, b = 3, 4
c = add(a, b)

print(c)

7

In [4]:
def add(a, b):
    return a+b

a, b = 3, 4
c = add(a, b)

d = add(111, 222)
print(d)

333

In [5]:
# return을 사용하지 않을 경우 none이 뜨는데 다른 방법으로는 print 대입이 있다.

def add(a, b):
    print(a+b)

a, b = 3, 4
c = add(a, b)
# print(c)

d = add(111, 222)
# print(d)

7
333

In [6]:
# 1. 매개변수 O, 리턴값 O.

def minus(a,b):
    result = a - b
    return result

a = minus(10,4)
print(a)

6

In [11]:
# 2. 매개변수 X, 리턴값 O.

def say():
    return "Hi"

print(say())

Hi

In [13]:
# 3. 매개변수 O, 리턴값 X.  
def add(x, y):
    print("%d와 %d의 합은 %d입니다."%(x, y, x+y))

add(5, 6)

a = add(1, 2)
print(a)

5와 6의 합은 11입니다.
1와 2의 합은 3입니다.
None

In [16]:
# 4. 매개변수 X, 리턴값 X.
def say():
    print("Hi")

say()

Hi

In [7]:
# 키워드 매개변수
def sub(a, b):
    return a - b

result = sub (7, 3)
print(result)

result2 = sub(b=3, a=7)
print(result2)

4
4

In [10]:
# 가변 매개변수 (*매개변수명) - 매개변수 개수 여러개.
def add_many(*args):
    result = 0
    for i in args:
        result += i
    return result

res1 = add_many(1, 2, 3, 4, 5)
print(res1)

res2 = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(res2)

15
55

In [19]:
# 덧셈, 곱셈 둘 다 연산 가능한 함수

def add_mul(choice, *args):
    if choice == 'add' :
        result = 0
        for i in args:
            result += i
    elif choice == "mul":
        result = 1
        for i in args:
            result *= i
    return result

res1 = add_mul('add', 1, 2, 3)
print(res1)

res2 = add_mul('mul', 1, 2, 3)
print(res2)

6
6

In [22]:
# 키워드 가변 매개변수(**매개변수)

def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(a=1)

print_kwargs(name='foo', age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

In [25]:
# 함수의 리턴값은 하나!!!
def add_and_mul(a, b):
    return a+b, a*b

res =add_and_mul(3, 4)
print(res)

res1, res2 = add_and_mul(3, 4)

print("a + b =", res1)
print("a * b =", res2)

(7, 12)
a + b = 7
a * b = 12

In [59]:
def add_and_mul(a, b):
    return a+b        #리턴은 값을 반환하고 종료하기 때문에 첫 리턴만 값을 반환한다.
    return a*b        #그래서 튜플로 값을 두 개 입력해줘야 함 return a+b, a*b

res = add_and_mul(2, 3)
print(res)

5

In [33]:
# return의 또 다른 쓰입새
def say_nick(nick):
    if nick == '바보' :
        return
    print("나의 별명은 %s 입니다."%nick)

say_nick('야호!!')
say_nick('바보')

나의 별명은 야호!! 입니다.

In [39]:
#매개변수에 초기값 설정
def say_myself(name, age, man=True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {age}살 입니다.")
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

# 함수 호출
say_myself('김태연', 24)

say_myself('김태연', 24, False)

나의 이름은 김태연입니다.
나이는 24살 입니다.
남자입니다.
나의 이름은 김태연입니다.
나이는 24살 입니다.
여자입니다.

In [42]:
#매개변수에 초기값 설정   /   기본값은 중간이 아닌 맨 뒤에 써야함.
def say_myself(name, man=True, age):
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {age}살 입니다.")
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

# 함수 호출
say_myself('김태연', 24)

# 매개변수 쓰는 순서
# 위치 인자 -> 기본값(default)인자 -> 가변 인자 -> 키워드 인자 -> 키워드 가변 인자

SyntaxError: parameter without a default follows parameter with a default (559964239.py, line 2)

In [45]:
# 함수의 유효 범위
a = 1
def vartest(a):
    a = a+1

vartest(a)
print(a) # 함수 밖에 있는 a가 출력됨.

1

In [52]:
# 함수의 유효 범위 => 1. return 사용하기
a = 1
def vartest(x):
    x = x+1
    return x

a = vartest(a) # 함수 실행하면 a값이 반환되고 a 변수에 덮어쓰임.
print(a)

2

In [54]:
# 함수의 유효 범위 => 2. global 명령어 사용하기
a = 1
def vartest():
    global a    # 함수 안에서 a는 전역변수로 변경됨
    a += 1

vartest()
print(a)

2

In [56]:
# lambda 표현식 (예약어) 사용 안 하고 함수 선언

def add(a, b):
    return a+b

print(add(3,4))

7

In [58]:
# lambda 표현식 (예약어) 사용하고 함수 선언
add = lambda a, b : a+b 
print(add(3,4))

7

### 2. 함수의 활용

#### 1) 재귀함수
##### 내가 만든 함수를 다시 호출하는 것.

In [60]:
# 반복문으로 팩토리얼 구하기
def factorial(n):
    output = 1
    for i in range(1, n+1):
        output *= i
    return output

print('5! =', factorial(5))

5! = 120

In [65]:
# 재귀함수로 팩토리얼 구하기
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print('5! =', factorial(5))


#         n     n*f(n-1)    = mean
# f(5)    5      5*f(4)    5*4*3*2*1
# f(4)    4      4*f(3)     4*3*2*1
# f(3)    3      3*f(2)      3*2*1
# f(2)    2      2*f(1)       2*1
# f(1)    1      1*f(0)       1*1

# f(0) = 1

5! = 120

In [68]:
# 반복문으로 리스트 평탄화
def flatten(data):
    output = []
    for item in data:
        if type(item) == list:
            output += item
        else:
            output.append(item)
    return output

ex = [[1, 2, 3], [4, [5 ,6]], 7, [8, 9]]
print(len(ex))
print('원본 :', ex)
print('평탄화 :', flatten(ex))

4
원본 : [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
평탄화 : [1, 2, 3, 4, [5, 6], 7, 8, 9]

In [69]:
# 재귀함수로 리스트 평탄화

def flatten(data):
    output = []
    for item in data:
        if type(item) == list:
            output += flatten(item)
        else:
            output.append(item)
    return output

ex = [[1, 2, 3], [4, [5 ,6]], 7, [8, 9]]
print('원본 :', ex)
print('평탄화 :', flatten(ex))

원본 : [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
평탄화 : [1, 2, 3, 4, 5, 6, 7, 8, 9]